<!--
_______ _____ _____ __   ___
| ___  \  _  |  _  |  \ /  |
| |  \ | | | | | | | . V . |
| |  / | \_/ | \_/ | |\ /| |
| | / / \   / \   /| | V | |
| `' /   \_/   \_/ \_|   | |
|___/                    \_|
-->

<html>
  <head>
    <% 
      current_sy = syntax_for(params) || 'ruby' 
      current_th = theme_for(params)
    %>
    <link type="text/css" rel="stylesheet" href="/stylesheets/uv.css" />
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script src="/javascripts/uv.js" type="text/javascript"></script>
  </head>
  <body>
    <form action="/format" id="uv-form">
    <div id="container">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-edit"><span>Edit</span></a></li>
          <li><a href="#tabs-result"><span>Result</span></a></li>
          <li><a href="#tabs-source"><span>Source</span></a></li>
          <li><a href="#tabs-api"><span>API</span></a></li>
        </ul>

        <div id="tabs-edit">
          <p>
            <select name="syntax">
              <option>-- choose syntax --</option>
            <% Uv.syntaxes.each do |sy| %>
              <option value="<%= sy %>"<%= %( selected="selected") if sy == current_sy %>><%= sy %></option>
            <% end %>
            </select>
            <select name="theme" id="theme">
              <option>-- choose theme --</option>
            <% Uv.themes.each do |th| %>
              <option value="<%= th %>"<%= %( selected="selected") if th == current_th %>><%= th %></option>
            <% end %>
            </select>
          </p>
          <p><textarea name="text"></textarea></p>
          <p class="btns">
            <label>
              <input type="checkbox" name="line_numbers" value="1"<%= %( checked="checked") if (params[:line_numbers] || params[:l]) == '1' %> />
              Show line numbers?
            </label>
            <input type="submit" value="Format" />
          </p>
        </div>

        <div id="tabs-result">
          <p>Send some text to format in the Edit tab.</p>
        </div>

        <div id="tabs-source">
          <textarea name="src" id="src" readonly="readonly"></textarea>
        </div>

        <div id="tabs-api">
          <p class="img"><img src="/images/doomguy.png" /></p>
          <p>Don't bother trying to install the <a href="http://ultraviolet.rubyforge.org/">Ultraviolet gem</a>, just setup <a href="http://github.com/archiloque/rest-client">RestClient</a> and go to town:</p>
          <p>Find the themes in <code>/stylesheets/themes</code>, like <a href="/stylesheets/themes/mac_classic.css" title="Please don&apos;t hotlink this :)">/stylesheets/themes/mac_classic.css</a>.</p>
          <p>POST data to /api</p>
          <p><code>curl "http://ultraviolence.heroku.com/api?s=css&amp;l=1" -d '.abc {}'</code></p>
          <p><code>RestClient.post "http://ultraviolence.heroku.com/api?s=css&amp;l=1", %(.abc {})</code></p>
          <ul>
            <li><code>?s</code> or <code>?syntax</code> - specify syntax</li>
            <li><code>?t</code> or <code>?theme</code> - specify textmate theme (defaults to mac classic)</li>
            <li><code>?l</code> or <code>?line_numbers</code> - set to '1' to show line numbers</li>
          </ul>
        </div>
      </div>
      <a href="http://github.com/technoweenie/ultraviolence"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    </div>
    </form>
  </body>
</html>